asgiref
awsebcli
botocore
cement
certifi
charset-normalizer
colorama
coreapi
coreschema
Django
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
future
gunicorn
idna
inflection
itypes
Jinja2
jmespath
MarkupSafe
packaging
pathspec
Pillow
psycopg2
PyJWT
pyparsing
pypiwin32
python-dateutil
python-decouple
pytz
PyYAML
requests
ruamel.yaml
ruamel.yaml.clib
semantic-version
six
sqlparse
termcolor
tzdata
uritemplate
urllib3
wcwidth
whitenoise
